section.pre_footer{
	width: 100%;
}

.pre_footer .pre_footer_container{
	width: 100%;
	/*max-width: 1000px;*/

	margin: 0 auto;
	/*padding-bottom: 15%;*/
	height: 180px;
	/*max-height: 30px;*/
	background-color: rgb(245,245,245);
}

.pre_footer .pre_footer_container img{
	position: relative;
	width: 100%;
	max-width: 100px;
}

