.top_wood_image_container_downloads {
	width: 100%;
	max-width: 1720px;
	height: 95px;
	position: absolute;
	 left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: url('../../../img/downloads/UK/title.png');
	background-size: cover;
	background-position: center;
	z-index: 999;
}