
/* Fonts */
@font-face {
    font-family: burbank;
    src: url('../../fonts/burbank.woff');
}

@font-face {
    font-family: avenir_med;
    src: url('../../fonts/Avenir_round_med.woff');
}

@font-face {
    font-family: avenir_bold;
    src: url('../../fonts/Avenir_round_bold.woff');
}


.bg_dark_full{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	z-index: 999;
	background-color: rgba(0,0,0,0.8);
	cursor: pointer;
}


.bg_dark{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	z-index: 99;
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
}



section.content {
	width: 100%;
	/*overflow: hidden;*/
	height: auto;
}



@media only screen
and (min-width: 901px) {

	
}	