/* Section tittle container */
.section_tittle_container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.section_tittle_container.videos{
	padding-bottom: 0px;
	padding-top: 15px;
}

.section_tittle_container img{
	width: 100%;
	max-width: 400px;
}

.section_tittle_container .tittle_box{
	text-align: center;
	position: relative;
	margin: 0 auto;
	border-radius: 35px;
	height: 70px;
}

.section_tittle_container .tittle_box h1{
	font-family: rolling;
	font-size: 35px;
	padding-top: 17px;
	text-align: center;
	color: white;
}

/* Custom tittles */
/* Videos */
#videos_tittle {
	margin-top: 40px;
}
.tittle_box.videos {
	width: 250px;
	background-color: rgb(243, 130,48);
}
/* Characters */
#characters_tittle {
	padding-top: 40px;
}
/* Characters */
.tittle_box.characters {
	width: 350px;
	background-color: rgb(255,255,255);
}
.tittle_box.characters h1{
	color: rgb(0, 142, 220);
}
/* Products */
.tittle_box.products {
	width: 310px;
	background-color: rgb(251, 181, 49);
}
/* Downloads */
#downloads_tittle {
	padding-top: 40px;
}
.tittle_box.downloads{
	width: 310px;
	background-color: white;
}

.tittle_box.downloads h1{
	color: rgb(129,193,74);
}





/* Fonts */
@font-face {
    font-family: rolling;
    src: url('../../fonts/rolling.woff');
}

/* Fonts */
@font-face {
    font-family: burbank;
    src: url('../../fonts/burbank.woff');
}

/* Fonts */
@font-face {
    font-family: calibri;
    src: url('../../fonts/Calibri_Bold.ttf');
}

/* Fonts */
@font-face {
    font-family: avenir_medium;
    src: url('../../fonts/avenir_medium.woff');
}


/* Fonts */
@font-face {
    font-family: avenir_bold;
    src: url('../../fonts/avenir_bold.woff');
}



/* Phone Portrait */
@media only screen
and (max-width: 540px) {


	/* Videos */
	#videos_tittle {
		margin-top: 25px;
	}

	/* Characters */
	#characters_tittle {
		padding-top: 60px;
	}
}

/* Phone Landscape */
@media only screen
and (min-width: 541px)
and (max-width: 768px) {

	#videos_tittle {
		margin-top: 25px;
	}

}	

/* Tablet */
@media only screen
and (min-width: 769px)
and (max-width: 1024px) {

}

/* Desktop */
@media only screen
and (min-width: 1025px)
and (max-width: 1200px) {

}

/* Desktop Big */
@media only screen
and (min-width: 1201px) {

}