section.news{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.news_wrapper{
	position: relative;
	width: 100%;
}

.news_wrapper .news_container{
	width: 100%;
	position: relative;
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
}

.news_wrapper .news_container .new_item{
	width: 100%;
	position: relative;
	/*padding-bottom: 40%;*/
	/*background-color: rgba(0,0,0,0.9);*/
	border-radius: 8px;
	
	transition: 5s all ease;
	background-size: 100%;
	/*overflow: hidden;*/
	/*margin: 10px auto 10px auto;*/
	/*margin-top: 20px;
	margin-bottom: 20px;*/
	margin: 0px auto 20px auto;
	max-width: 1200px;
}

.news_wrapper .news_container .new_item .item_cover{
	width: 100%;
	padding-bottom: 40%;
	transition: 0.2s ease all;
	border-radius: 8px;
}

.news_wrapper .news_container .new_item .item_cover:hover{
	/*transform: scale(1.014);*/
	/*border-radius: 8px;*/
}

.news_wrapper .news_container .new_item .item_cover.ztin{
	background: url('../../img/header/tin_header.png');
	background-size: cover;
}

.news_wrapper .news_container .new_item .item_cover.sm2{
	background: url('../../img/header/sm2_header.png');
	background-size: cover;
}



