section.youtube_link {
	width: 100%;
	/*height: 250px;*/
	position: relative;
	background-color: white;
	overflow: hidden;
	margin-top: -15px;
	padding: 0px 0 60px 0;
}

.youtube_link .rounded_top{
	position: relative;
	margin-left: -10%;
	margin-top: 0px;
	width: 120%;
	height: 50px;
	background: rgb(255,255,255);
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	z-index: 99;
	background-color: white;
}

.yt_link_container {
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 10px;
}

.yt_link_container .yt_box{
	position: relative;
	width: 100%;
	max-width: 650px;
	/*background-color: red;*/
	margin: 0 auto;

}

.yt_link_container .yt_box .yt_bg{
	width: 100%;
	padding-bottom: 31.6%;
	position: relative;
	background: url('../../img/youtube/sm_bg.png') no-repeat;
	background-size: cover;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 15px;
	
}

.yt_link_container .yt_box .yt_bg .yt_logo{
	position: absolute;
	width: 100%;
	text-align: left;
}

.yt_link_container .yt_box .yt_bg .yt_logo img{
	position: relative;
	width: 38%;
	margin-top:10%;
	margin-left:2%;
}

.yt_link_container .yt_box .yt_bg .yt_logo img:hover{
	transform: scale(1.02);
}