section.menu {
	z-index: 9999;
	position: relative;
}

.menu_BG {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	display: none;
	cursor: pointer;
}

.menu_BG.off {
	display: none;
}

#menu_icon_container {
	position: fixed;
	width: 100px;
	height: 100px;
	background: url('../../img/general/menu_icon.png') rgba(0,0,0,0.45);
	background-size: cover;
	border-radius: 0 0 5px 0;
	cursor: pointer;
}

#menu_icon_container:hover{
	background-color: rgba(0,0,0,0.7);
}

.menu_column_container {
	/*width: 450px;*/
	width: 400px;
	height: 100%;
	background: url('../../img/general/stars_bg.png') rgb(255,255,255);
	background-size: cover;
	background-position: center;
	position: fixed;
	box-shadow: 5px 0px 33px 5px rgba(0,0,0,0.7);
	overflow-y: auto;
	overflow-x: hidden;
	left: -500px;
}



.menu_column_container .logo_in_menu{
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	margin: 0 auto;
	background: url('../../img/general/titles/menu/logo.png');
	background-size: cover;
	margin-bottom: 15px;
}

.menu_column_container .menu_item{
	position: relative;
	width: 100%;
	margin-top: -10px;
	cursor: pointer;
}

.menu_column_container .menu_item:hover{
	transform: scale(1.02);
}

.menu_column_container .menu_item.videos{
	margin-top: 0px;
}




.menu_column_container .menu_item img{
	width: 85%;
	max-width: 370px;
	position: relative;
	margin: 0 auto;
	margin-left: 7.5%;
}

.menu_column_container .menu_item p{
	color: white;
	padding: 20px 25px 20px 25px;
	font-family: rolling;
	font-size: 30px;
	letter-spacing: 1px;
}


/* Phone Portrait */
@media only screen
and (max-width: 540px) {

	#menu_icon_container {
		width: 70px;
		height: 70px;
	}


	.menu_column_container {
		width: 100%;
		max-width: 400px;
	}

}

/* Phone Landscape */
@media only screen
and (min-width: 541px)
and (max-width: 768px) {

}

/* Tablet */
@media only screen
and (min-width: 769px)
and (max-width: 1024px) {

}

/* Desktop */
@media only screen
and (min-width: 1025px)
and (max-width: 1200px) {

}

/* Desktop Big */
@media only screen
and (min-width: 1201px) {

}

