/* Section BG */
section.videos {
	width: 100%;
	position: relative;
	overflow: hidden;
}

/* Section tittle */
.section_tittle_container.videos img{

}



.carousel_container_full{
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.carousel_container{
	/*top: 25px;*/
	position: relative;
	width: 80%;
	margin: 0 auto;
	max-width: 850px;
}

#owl_carousel .item {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 56.25%;
}

#owl_carousel .item.one{
	background: url('../../img/videos/s2_thumb.png');
	background-size: cover;
}
#owl_carousel .item.two{
	background: url('../../img/videos/tv_s1.jpg');
	background-size: cover;
}
#owl_carousel .item.three{
	background: url('../../img/videos/the_movie_thumb.jpg');
	background-size: cover;
}

#owl_carousel .item .video_pic{
	position: absolute;
	width: 100%;
	height: 100%;
}



/* Videos */
.owl-carousel .item #video_one{
	/*background-color: red;*/
}

/* Border */
.video_border_container {
	position: absolute;
	width: 100%;
	padding-bottom: 56.25%;
}

.video_border_container .video_border_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 20px;
	border-color: rgb(255,255,255);
	background-color: rgb(255,255,255);
	border-radius: 3px;
	left: -20px;
	top: -20px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* Iframe */
.carousel_container .iframe_container{
	position: absolute;
	width: 100%;
	padding-bottom: 56.25%;
	z-index: 99;
	display: none;
	/*border-style: solid;
	border-width: 6px;
	border-color: red;*/
}

#player {
	position: absolute;
	width: 100%;
	height: 100%;
}

iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Video info */
.video_pic {
	cursor: pointer;
}
.video_pic .play_icon_container{
	position: relative;
	width: 100%;
	height: 100%;
}

.video_pic .play_icon_container .play_icon_box{
	position: absolute;
	margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	width: 100px;
	height: 100px;
	background-color: rgba(255,255,255,1);
	border-radius: 50%;
	opacity: 0.8;
}

.video_pic .play_icon_container .play_icon_box .play_triangle{
	width: 0; 
  	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 35px solid rgb(10,10,10);
	position: absolute;
	margin-left: 35px;
	margin-top: 25px;
}

.video_pic .play_icon_container .play_icon_box:hover {
	opacity: 1;
	transform: scale(1.1);
}

.video_pic .video_info {
	position: absolute;
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.6);
	bottom: 0;
	text-align: center;
}

.video_pic .video_info p{
	font-family: burbank;
	color: white;
	font-size: 30px;
	padding-top: 25px;
	letter-spacing: 1px;
}

/* Controls and pagination */
.owl-theme .owl-controls {
	margin-top: 0px;
}


#owl_carousel .owl-pagination {
	position: relative;
	width: 100%;
	/*height: 100px;*/
	/*background-color: yellow;*/
	margin-top: 30px;
	margin-bottom: 20px;
	z-index: 999;
}

/* Menu */
.owl-theme .owl-controls .owl-page{
	width: 40px;
	height: 40px;
	
}

.owl-theme .owl-controls .owl-page span{
	width: 20px;
	height: 20px;
	position: relative;
	background-color: rgba(0,0,0,0.2); 
	margin: 0 auto;
	top: 10px;
	opacity: 1;
}


.owl-theme .owl-controls .owl-page.active span{
	background-color: rgb(205,35,52);
}

.owl-theme .owl-controls .owl-page.active:hover span{
	background-color: rgb(205,35,52);
}

.owl-theme .owl-controls .owl-page:hover span{
	background-color: rgb(205,35,52);
}



/* Arrows */
.owl-buttons {
	display: none;
}


.carousel_container .arrow_container_video{
	position: absolute;
	width: 80px;
	height: 80px;
	/*background-color: green;*/
	cursor: pointer;
	z-index: 999;
	margin-top: -83px;
	border-radius: 50%;
}

.carousel_container .arrow_container_video.left {

	background-color: rgba(0,0,0,0.2);
}

.carousel_container .arrow_container_video.left .arrow_icon{
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../../img/general/left_arrow_circle.png');
	background-size: cover;
}

.carousel_container .arrow_container_video.right {
	background-color: rgba(0,0,0,0.2);
}


.carousel_container .arrow_container_video.right .arrow_icon{
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../../img/general/right_arrow_circle.png');
	background-size: cover;
}



.carousel_container .arrow_container_video:hover {
	/*transform: scale(1.2);*/
	background-color: rgba(0,0,0,0.7);
}

.rounded_bottom {
	position: relative;
	margin-left: -10%;
	margin-top: -60px;
	width: 120%;
	height: 50px;
	background: rgb(255,255,255);

	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	z-index: 99;
}




/* Phone Portrait */
@media only screen
and (max-width: 540px) {

	.video_pic .video_info {
		display: none;
	}

	.carousel_container{
		width: 80%;
	}

	.carousel_container .arrow_container_video{
		display: none;
	}
}

/* Phone Landscape */
@media only screen
and (min-width: 541px)
and (max-width: 768px) {

	.video_pic .play_icon_container .play_icon_box{
		
		width: 100px;
		height: 100px;

	}

	.video_pic .play_icon_container .play_icon_box .play_triangle{
		border-top: 25px solid transparent;
		border-bottom: 25px solid transparent;
		border-left: 35px solid rgb(10,10,10);
		position: absolute;
		margin-left: 35px;
		margin-top: 25px;
	}


	.video_pic .video_info {
		height: 50px;
	}

	.video_pic .video_info p{
		font-size: 20px;
		padding-top: 17px;
		letter-spacing: 1px;
	}

	.carousel_container{
		width: 80%;
	}

	.carousel_container .arrow_container_video{
		display: none;
	}
}

/* Tablet */
@media only screen
and (min-width: 769px)
and (max-width: 1024px) {

	.carousel_container{
		width: 80%;
	}

	.carousel_container .arrow_container_video{
		display: none;
	}
}

/* Desktop */
@media only screen
and (min-width: 1025px)
and (max-width: 1200px) {

	.carousel_container{
		max-width: 800px;
		width: 70%;
	}

	.carousel_container .arrow_container_video.left {
		top: 50%; bottom: 0; left: -130px; 
	}

	.carousel_container .arrow_container_video.right {
		top: 50%; bottom: 0;  right: -130px;
	}	
}

/* Desktop Big */
@media only screen
and (min-width: 1201px) {

	.carousel_container .arrow_container_video.left {
		top: 50%; bottom: 0; left: -140px; 
	}

	.carousel_container .arrow_container_video.right {
		top: 50%; bottom: 0;  right: -140px;
	}
}


