section.brands{
	width: 100%;
	position: relative;
	padding: 50px 0px 15px 0px;
}

.brands .section_title_container{
	width: 100%;
	text-align: center;
}

.brands .section_title_container img{
	max-width: 230px;
}

.brands .section_title_container h1{
	font-family: montserrat_bold;
	font-size: 25px;

}


/* Brands */
.brands_container{
	position: relative;
	width: 90%;
	max-width: 550px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 15px;
}

.brands_container a{
	text-decoration: none;
}

.brands_container .brand_container{
	width: 46%;
	float: left;
	padding: 2% 2%;
	transition: 0.3s ease all;
	cursor: pointer;
	transform: scale(1);
}

.brands_container .brand_container:hover{
	transform: scale(1.03);

}

.brands_container .brand_container .brand_pic img{
	width: 100%;
	border-radius: 4px;
}


@media only screen
and (max-width: 500px) {

	/* Brands */
	.brands_container{
		position: relative;
		width: 75%;
		max-width: 550px;
		overflow: hidden;
		margin: 0 auto;
		margin-top: 15px;
	}

	.brands_container .brand_container{
		width: 96%;
		float: left;
		padding: 2% 2%;
		transition: 0.3s ease all;
		cursor: pointer;
		transform: scale(1);
	}

	.brands_container .brand_container:hover{
		transform: scale(1.03);

	}

	.brands_container .brand_container .brand_pic img{
		width: 100%;
		border-radius: 4px;
	}

}