/* Section tittle container */
.section_title_container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.section_title_container.videos{
	padding-bottom: 0px;
	padding-top: 15px;
}

.section_title_container img{
	width: 100%;
	max-width: 400px;
}



/* Custom tittles */
/* Videos */
#videos_tittle {
	margin-top: 40px;
}

/* Characters */
#characters_tittle {
	padding-top: 40px;
}

/* Downloads */
#downloads_tittle {
	padding-top: 40px;
}





/* Fonts */
@font-face {
    font-family: rolling;
    src: url('../../fonts/rolling.woff');
}

/* Fonts */
@font-face {
    font-family: burbank;
    src: url('../../fonts/burbank.woff');
}

/* Fonts */
@font-face {
    font-family: calibri;
    src: url('../../fonts/Calibri_Bold.ttf');
}

/* Fonts */
@font-face {
    font-family: avenir_medium;
    src: url('../../fonts/avenir_medium.woff');
}


/* Fonts */
@font-face {
    font-family: avenir_bold;
    src: url('../../fonts/avenir_bold.woff');
}



/* Phone Portrait */
@media only screen
and (max-width: 540px) {


	/* Videos */
	#videos_tittle {
		margin-top: 25px;
	}

	/* Characters */
	#characters_tittle {
		padding-top: 60px;
	}
}

/* Phone Landscape */
@media only screen
and (min-width: 541px)
and (max-width: 768px) {

	#videos_tittle {
		margin-top: 25px;
	}

}	

/* Tablet */
@media only screen
and (min-width: 769px)
and (max-width: 1024px) {

}

/* Desktop */
@media only screen
and (min-width: 1025px)
and (max-width: 1200px) {

}

/* Desktop Big */
@media only screen
and (min-width: 1201px) {

}