body{
	/*background-color: rgb(115, 189, 78);*/
}

/* UPDATES ON MESSAGE SENT */
.bg_dark_contact{
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	z-index: 9999;
	background-color: rgba(0,0,0,0.6);
}

.notification_container_full{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
    display: none;
}

.notification_container_full .message_notification_container{
	display: block;
	margin: auto;
    text-align: center;
    position: relative;
    margin: 0 auto;
	width: 90%;
	max-width: 550px;
	margin-top: 150px;
	background-color: white;
	border-radius: 8px;
	padding-bottom: 20px;
}

.notification_container_full .message_notification_container .info_text p{
	padding: 20px;
	font-family: 'Montserrat';
	font-size: 16px;
	letter-spacing: 0.4px;
}

.notification_container_full .message_notification_container .close_full{
	width: 100%;
	text-align: center;
}

.notification_container_full .message_notification_container .close_full h4{
	padding: 20px;
	display: inline-block;
	background-color: rgb(255,163,0);
	border-radius: 8px;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	color: white;
	cursor: pointer;
	letter-spacing: 0.6px;

}


/* ------------------------------------------------------- */
.contact_header{
	width: 100%;
	padding-bottom: 30%;
	position: relative;
	background: url('../../img/general/z_city.png');
	background-size: cover;
	background-position: center;
}

/* Contact title -------------------------------- */
.title_container_contact{
	position: relative;
	width: 100%;
	text-align: center;
	padding: 50px 0px 30px 0px;
}

.title_container_contact h2{
	    font-weight: 700;
    font-family: montserrat_bold,'Montserrat', 'avenir_bold', 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 33px;
    letter-spacing: 0.6px;
    color: rgb(25,25,25);
}

/* ------------------------ */

.contact_form_wrapper{
	width: 100%;
	position: relative;
}


section.contact{
	width: 100%;
	position: relative;
	background-color: white;
}

.contact .contact_container_full{
	width: 100%;
	text-align: center;
	position: relative;
}

.contact_container_full .contact_container{
	display: inline-block;
	background-color: white;
	padding: 0px 25px 0px 25px;
	margin-top: 0px;
	border-radius: 8px;
	width: 100%;
	max-width: 850px;
	text-align: left;
	font-family: 'Montserrat';
	margin-bottom: 50px;
	box-sizing: border-box;
	overflow: hidden;

}

.contact_container_full .contact_container .form_container{
	width: 60%;
	float: left;
}

.contact_container_full .contact_container .form_container .intro_text{
	width: 100%;
	position: relative;
	padding-bottom: 10px;
}

/* Text */
.contact_container_full .contact_container .form_container .intro_text h2{
	font-size: 28px;
	font-weight: 700;
	color: rgb(25,25,25);
	letter-spacing: 0.8px;
	text-align: center;
}

.contact_container_full .contact_container .form_container .intro_text p{
	font-weight: 400;
	font-size: 15px;
	margin-top: 10px;
	line-height: 20px;
	color: rgba(0,0,0,0.4);
	padding-bottom: 5px;
	text-align: left;
}


.contact_container_full .contact_container .form_container .intro_text p span{
	color: rgb(255,163,34);
}

.contact_container_full .contact_container .form_container h3{
	font-family: montserrat_bold;
	font-weight: 700;
	font-size: 15px;
	color: rgb(25,25,25);
	letter-spacing: 0.8px;
	padding-top: 15px;
}



/* Inputs */
.form_container form input[type="text"]{
	width: 100%;
	padding: 15px;
	border:none;
	background-color: rgba(0,0,0,0.1);
	margin-top: 5px;
	font-size: 14px;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Message */
.form_container form textarea{
width: 100%;
	padding: 15px;
	border:none;
	background-color: rgba(0,0,0,0.1);
	margin-top: 5px;
	font-size: 14px;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}

.form_container form input[type="submit"]{
	box-sizing: border-box;
	padding: 20px 60px;
	border-style:none;
	margin-top: 20px;
	font-size: 16px;
	resize: none;
	font-family: 'Montserrat';
	font-weight: 700;
	background-color: rgb(255,163,0);
	color: white;
	cursor: pointer;
	-webkit-appearance: none;
	border-radius: 3px;
	transition: 0.2s ease all;
}


.form_container select.select_country{
	border-style:none;
	margin-top: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	padding: 15px;
	border:none;
	background-color: rgba(0,0,0,0.1);
	margin-top: 5px;
	font-size: 14px;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

::-webkit-input-placeholder {
   color: rgb(150,150,150);
   font-family: 'Montserrat';
   
}

:-moz-placeholder { 
    color: rgb(50,50,50);
   font-family: 'Montserrat'; 
}

:-ms-input-placeholder {  
    color: rgb(50,50,50);
   font-family: 'Montserrat'; 
}

p {
	line-height: 24px;
}

p.try_again {
	text-align: center;
	font-size: 16px;
	font-family: 'Montserrat'; 
}

p.try_again a{
	font-weight: 700;
}

p.thanks {
	text-align: center;
	font-size: 16px;
	font-family: 'Montserrat'; 
}

h2.thanks{
	text-align: center;
	font-weight: 700;
	font-size: 28px;
}

p.new_message {
	text-align: center;
	font-size: 16px;
	font-family: 'Montserrat'; 
}

p.new_message a{
	font-weight: 700;
}

a.form {
	font-family: 'Montserrat'; 
	text-decoration: underline;
	color: rgb(25,25,25);
}

a:hover {
	color: rgb(255,163,0);
}


/* Social media container */
.social_media_container{
	float: left;
	width: 40%;
}

.social_media_container a{
	text-decoration: none;
	color: rgb(25,25,25);
}

.social_media_container .social_media_row{
	width: 100%;
	position: relative;
	padding-left: 25px;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
}

.social_media_container .social_media_row .icon_container{
	position: absolute;
	font-size: 28px;
	vertical-align: middle;
	width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 50%;
	color: white;
	transition: 0.2s ease all;
	text-align: center;
	cursor: pointer;
}

.social_media_container .social_media_row .icon_container.facebook{
	background-color: #3b5998;
}

.social_media_container .social_media_row .icon_container.twitter{
	background-color: #00aced;
}

.social_media_container .social_media_row .icon_container.youtube{
	background-color: #b00;
}

.social_media_container .social_media_row .icon_container.instagram{
	background-color: #517fa4;
}

.social_media_container .social_media_row .icon_container.home{
	background-color: rgb(255,163,0);
}



.social_media_container .social_media_row .icon_container i{
	vertical-align: middle;
	color: white;
}


.social_media_container .social_media_row .links_container{
	display: inline-block;
	margin-left: 55px;
	box-sizing: border-box;
}

.social_media_container .social_media_row .links_container ul li.title{
	font-family: montserrat_bold;
	font-size: 15px;
	padding-top: 5px;
}

.social_media_container .social_media_row .links_container ul a{
	text-decoration: none;
}

.social_media_container .social_media_row .links_container ul li.link{
	font-family: montserrat_reg;
	font-size: 15px;
	color: rgba(0,0,0,0.4);
	cursor: pointer;
	padding-top: 5px;
}

.social_media_container .social_media_row .links_container ul li.link:hover{
	color: black;
}

.social_media_container .social_media_row .links_container ul li.address{
	font-family: montserrat_reg;
	font-size: 15px;
	color: rgba(0,0,0,0.4);
	cursor: pointer;
	padding-top: 5px;
	line-height: 22px;
	cursor: default;
}



@media only screen
and (max-width: 679px) {

	/* Clouds */
	.contact_header  .contact_cloud.one{
		width: 550px;
	    left: -200px;
	    top: -80px;
	}

	.contact_header  .contact_cloud.two{
		width: 300px;
	    left: 70px;
	    top: 180px;
	    display: none;
	}

	.contact_header  .contact_cloud.plane_left{
		max-width: 400px;
	    left: 5%;
	    top: 40px;
	    display: none;
	}

	.contact_header  .contact_cloud.three{
		width: 280px;
	    left: 380px;
	    top: 15px;
	}

	.contact_header  .contact_cloud.four{
		width: 500px;
	    left: 250px;
	    top: 80px;
	        -moz-transform: scaleX(-1);
	    -webkit-transform: scaleX(-1);
	    -o-transform: scaleX(-1);
	    transform: scaleX(-1);
	}

	.contact_header{
		padding-bottom: 40%;
	}


	/* Social media */
	.social_media_container{
		/*display: none;*/
		position: relative;
		width: 100%;
		margin-top: 35px;
	}

	.social_media_container .social_media_row {
		padding-left: 0px;
	}

	.form_container form input[type="submit"]{
		padding: 20px 60px;
	}


	.contact_container_full .contact_container {
		width: 100%;
		padding: 0px 25px 0px 25px;
		margin-bottom: 10px;
	}

	.contact_container_full .contact_container .form_container{
		width: 100%;
		position: relative;
		margin: 0 auto;
	}


}
/* Phone Landscape */
@media only screen
and (min-width: 680px)
and (max-width: 850px) {

	.contact_header{
		padding-bottom: 35%;
	}

	/* Clouds */
	.contact_header  .contact_cloud.one{
		width: 550px;
	    left: -20px;
	    top: -40px;
	}

	.contact_header  .contact_cloud.two{
		width: 300px;
	    left: 70px;
	    top: 180px;
	}

	.contact_header  .contact_cloud.plane_left{
		max-width: 400px;
	    left: 5%;
	    top: 40px;
	}

	.contact_header  .contact_cloud.three{
		width: 280px;
	    left: 480px;
	    top: 15px;
	}

	.contact_header  .contact_cloud.four{
		width: 500px;
	    left: 420px;
	    top: 120px;
	        -moz-transform: scaleX(-1);
	    -webkit-transform: scaleX(-1);
	    -o-transform: scaleX(-1);
	    transform: scaleX(-1);
	}


	/* Social media container */
	.social_media_container{
		float: left;
		width: 45%;
	}

	.contact_container_full .contact_container .form_container{
		width: 55%;
		float: left;
	}


}