section.footer{
	width: 100%;
	position: relative;
	margin-top: 35px;
}

.footer .footer_container{
	width: 100%;
	padding: 70px 0px 35px 0px;
	background-color: rgb(115, 189, 78);
	overflow: hidden;
}

.footer_container .links_container{
	width: 100%;
	text-align: center;
	vertical-align: middle;
}


/* Logo wrapper */
.footer_container .links_container .logo_wrapper{
	display: inline-block;
	vertical-align: middle;
	padding: 0px 15px 0px 15px;
}

.footer_container .links_container .logo_wrapper a{
	text-decoration: none;
}

.footer_container .links_container .logo_wrapper .logo_container{
	max-width: 200px;
	display: inline-block;
	transition: 0.2s ease all;
	cursor: pointer;
}

.footer_container .links_container .logo_wrapper .logo_container:hover{
	transform: scale(1.05);
}

.footer_container .links_container .logo_wrapper .logo_container img{
	width: 100%;
}


/* Social media */
.links_container .social_media_wrapper{
	vertical-align: middle;
	display: inline-block;
	padding: 0px 15px 0px 15px;
}

.links_container .social_media_wrapper a{
	text-decoration: none;
}

.links_container .social_media_wrapper .media_icon{
	display: inline-block;
	font-size: 28px;
	vertical-align: middle;
	width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 50%;
	cursor: pointer;
	color: white;
	transition: 0.2s ease all;
}

/* Facebook */
.links_container .social_media_wrapper .media_icon.facebook{
	background-color: #3b5998;
}

/* Twitter */
.links_container .social_media_wrapper .media_icon.twitter{
	background-color: #00aced;
}


/* Instagram */
.links_container .social_media_wrapper .media_icon.instagram{
	background-color: #517fa4;
}


/* Instagram */
.links_container .social_media_wrapper .media_icon.youtube{
	background-color: #b00;
}



/* Youtube */

.links_container .social_media_wrapper .media_icon:hover{
	transform: scale(1.1);
}

.links_container .social_media_wrapper .media_icon i{
	vertical-align: middle;
}


/* Rights */
.links_container .rights_container{
	text-align: center;
	padding-top: 0px;
	cursor: default;
	padding: 30px 10px;
}

.links_container .rights_container p{
	color: white;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.3px;
}



/* Phone Portrait */
@media only screen
and (max-width: 475px) {


	.footer_container .links_container .logo_wrapper{
		padding-bottom: 20px;
	}

}