section.downloads {
	width: 100%;
	position: relative;	
	overflow: hidden;
	margin-top: 30px;
	z-index: 9;
}


.downloads_container_bg{
	margin-top: 10px;
	position: relative;
	width: 100%;
	padding: 120px 0px 80px 0px;
	background: rgba(0,173,236,1);
	background: -moz-linear-gradient(top, rgba(0,173,236,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,173,236,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(0,173,236,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(0,173,236,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,173,236,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(0,173,236,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adec', endColorstr='#ffffff', GradientType=0 );

}

/* Sky */
.clouds_container{

}

#plane_left {
	position: absolute;
	width: 350px;
	height: 170px;
	background: url('../../img/general/sky/plane_left.png');
	background-size: cover;
	left: 15%;
	top: 190px;
}

#plane_right {
	position: absolute;
	width: 300px;
	height: 86px;
	background: url('../../img/general/sky/plane_right.png');
	background-size: cover;
	left: 65%;
	top: 290px;
}

#cloud_one{
	position: absolute;
	width: 380px;
	height: 138px;
	background: url('../../img/general/sky/cloud_1.png');
	background-size: cover;
	left: 10%;
	top: 80px;
}

#cloud_two {
	position: absolute;
	width: 600px;
	height: 259px;
	background: url('../../img/general/sky/cloud_2.png');
	background-size: cover;
	left: 60%;
	top: 0px;
	-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

#cloud_three{
	position: absolute;
	width: 600px;
	height: 259px;
	background: url('../../img/general/sky/cloud_2.png');
	background-size: cover;
	left: 5%;
	top: 220px;
}


/* Menu */
.downloads_menu{
	width: 100%;
	position: relative;
	margin: 0 auto;
}

.menu_container{
	width: auto;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.menu_item_container{
	position: relative;
	text-align: center;
	display: inline-block;
}

.menu_item_container .menu_item{
	float: left;
	padding: 12px 15px 10px 15px;
	border-radius: 5px;
	color: white;
	background-color: rgba(0,0,0,0.2);
	font-family: burbank;
	font-size: 20px;
	letter-spacing: 1.2px;
}


.downloads_links_container{
	top: 30px;
	width: auto;
	width: 95%;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	/*overflow: hidden;*/
	text-align: center;
	z-index: 99;
}

.downloads_links_container .albums_container{
	position: relative;
	width: 100%;
	text-align: center;
	display: inline-block;
}


.downloads_links_container .albums_container a{
	text-decoration: none;
}


.downloads_links_container .albums_container a .download_item{
	float: left;
	width: 18%;
	margin: 1%;
}


.downloads_links_container .albums_container a .download_item img{
	position: relative;
	width: 100%;
	transition: 0.3s ease all;
	cursor: pointer;
}


.downloads_links_container .albums_container a .download_item img:hover{
	transform: scale(1.1);
}

@media only screen
and (max-width: 349px) {
	.downloads_links_container{
		width: 70%;
	}

	.downloads_links_container .albums_container a .download_item{
		float: left;
		width: 96%;
		margin: 2%;
	}

	.downloads_links_container .albums_container a .download_item img:hover{
		transform: scale(1.05);
	}
}

@media only screen
and (min-width: 350px)
and (max-width: 439px) {
	.downloads_links_container{
		width: 55%;
	}

	.downloads_links_container .albums_container a .download_item{
		float: left;
		width: 96%;
		margin: 2%;
	}

	.downloads_links_container .albums_container a .download_item img:hover{
		transform: scale(1.05);
	}
}

@media only screen
and (min-width: 440px)
and (max-width: 499px) {
	.downloads_links_container{
		width: 85%;
	}

	.downloads_links_container .albums_container a .download_item{
		float: left;
		width: 47%;
		margin: 1.5%;
	}

	.downloads_links_container .albums_container a .download_item img:hover{
		transform: scale(1.05);
	}

}


@media only screen
and (min-width: 500px)
and (max-width: 629px) {
	.downloads_links_container{
		width: 75%;
	}

	.downloads_links_container .albums_container a .download_item{
		float: left;
		width: 47%;
		margin: 1.5%;
	}

	.downloads_links_container .albums_container a .download_item img:hover{
		transform: scale(1.05);
	}
}

@media only screen
and (min-width: 630px)
and (max-width: 739px) {

	.downloads_links_container{
		width: 85%;
	}

	.downloads_links_container .albums_container a .download_item{
		float: left;
		width: 31.333%;
		margin: 1%;
	}

	.downloads_links_container .albums_container a .download_item img:hover{
		transform: scale(1.05);
	}
}


@media only screen
and (min-width: 740px)
and (max-width: 999px) {

	.downloads_links_container{
		width: 75%;
	}

	.downloads_links_container .albums_container a .download_item{
		float: left;
		width: 31.333%;
		margin: 1%;
	}

	.downloads_links_container .albums_container a .download_item img:hover{
		transform: scale(1.05);
	}

}

/* Tablet */
@media only screen
and (min-width: 1000px)
and (max-width: 1200px) {

	.downloads_links_container{
		width: 65%;
	}

	.downloads_links_container .albums_container a .download_item{
		float: left;
		width: 31.333%;
		margin: 1%;
	}

	.downloads_links_container .albums_container a .download_item img:hover{
		transform: scale(1.05);
	}
}





